body {
    text-align: center;
    font: 13pt 'Trebuchet MS';
    padding: 10px 10%;
}
header > h1 {
    color: purple
}
nav > a {
    text-decoration: none;

    font-size: 0.95em;
    font-style: italic;
    padding: 5px 20px;
    color:darkcyan;
}
nav >a:hover {
    color: red;
}
main {
    padding: 30px;
}
main > img {
width: 75%;
}
footer > h4 {
    color: grey;
    font-size: 0.93em;
}
main > h2 {
    color:navy;
}